
body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: 'Lacquer', sans-serif;
	font-size: 13px;
	color: #061C37;
	background: rgb(168, 172, 182);
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 940px;
}

#mainpic h1
{
	position:absolute;
text-align:right;

font-size:30px;
color:#FFF;	
left:550px;
top:100px;
}


#mainpic h2
{
position:absolute;
text-align:right;
color:#E1E7F7;	
left:550px;
top:130px;
}

#mainpic
{
background-image:url(Manchseter\ Skyline.jpg);
background-repeat:no-repeat;
width:900px;
height:402px;	
}



.lightblue
{
color:#B1C6FC	
	
}




#menu
{
background-color: #061C37;
width:940px;
height:59px;
float:left;
clear:both;
}

#content
{
font-family: 'Nanum Gothic', sans-serif;
width:880px;
height:auto;
background-color:#FFF;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
}

#footer
{
width:inherit;
height:auto;
}

#footer h3 a,#footer h3 a:visited
{
display:inline;
text-align:center;
font-size:12px;
text-decoration:none;
color:#7198E1;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left:auto;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

#menu a:hover{
	color:#BAD1F3;
	background: url(images/menuhov.jpg) no-repeat;
}

#content p
{
	
}


html, body {
text-align: center;
}
p {text-align: left;}

* {
    box-sizing: border-box;
}
.box {
    color:white;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    padding:15px;
  
}
  
  .box1 { background:#34bd56;}
  .box2 { background:#212dcf;}
  .box3 { background:#ff7f50;}
  .box4 { background:#daff55;}
  .box5 { background:#c71fb0;}
.container {
    display: flex;
    justify-content: center;
}
 h3 {
		text-align: center;
		font-family: 'Pacifico', cursive;
		padding: 50px 200px;
		text-shadow: 3px 3px #ffff;
		
	}

p {
	font-size: 18px;
	margin: 5px;
	text-indent: 20px;
}



